.navbar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: lightcoral;
  color: white;
}

.navbar-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}

.navbar-title:visited {
  color: white;
  text-decoration: none;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
  transition: transform 0.3s ease;
}

.open .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.open .line:nth-child(2) {
  opacity: 0;
}

.open .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: lightcoral;
  display: none;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.open + .menu,
.menu:hover {
  display: block;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 8px;
}

.menu li:hover {
  color: blueviolet;
}

.navbar-link {
  color: white;
  text-decoration: none;
}

.navbar-link:visited {
  color: white;
  text-decoration: none;
}

.navbar-link:hover,
.navbar-link:active {
  color: blueviolet;
}
